@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brilliant-rose-50: rgb(253, 242, 249);
  --brilliant-rose-100: rgb(252, 231, 245);
  --brilliant-rose-200: rgb(252, 206, 237);
  --brilliant-rose-300: rgb(251, 166, 221);
  --brilliant-rose-400: rgb(246, 112, 196);
  --brilliant-rose-500: rgb(241, 91, 181);
  --brilliant-rose-600: rgb(222, 36, 139);
  --brilliant-rose-700: rgb(193, 21, 110);
  --brilliant-rose-800: rgb(160, 20, 92);
  --brilliant-rose-900: rgb(133, 22, 79);
  --brilliant-rose-950: rgb(81, 6, 44);
}

/* base styles */
body {
  min-height: 100dvh;
  @apply m-0;
  display: grid;
  grid-template-rows: 100px minmax(0, 1fr) 100px;
  grid-template-columns:  1fr;
  line-height: 1.5;
}

header,
footer,
main {
  grid-column: 1 / -1;
  display: grid;
  place-content: strech center
}

header > .container,
footer > .container,
main > .container{
  padding: 20px;
}

header.app-navbar .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer.app-footer .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1,h2,h3,h3,h5,h6{
  line-height: 1.2;
  color:var(--brilliant-rose-800);
  margin-bottom: 1em;
}

/* Cards */

.diff-cards{
  max-width: 760px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

